.menu-container {
    position: fixed;
    right: 0;
    top: 90px;
    width: 225px;
    background-color: #151414;
    border-left: 1px solid #ddd;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    height: 73vh;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    z-index: 1; /* Ensure it stays above other elements */
}

.menu-section {
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-section h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #73a0bd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    
}

.menu-section ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the menu items horizontally */
    padding: 0;
    margin: 0;
}

.menu-item {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background-color: #73a0bd;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-align: center; /* Center the menu item text */
    width: 100%;
}

.menu-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

